.home-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #80d5ff;
}
.home-container12 {
  flex: 0 0 auto;
  display: flex;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text10 {
  color: var(--dl-color-gray-white);
  font-size: 15vw;
  font-family: "Alata";
  font-weight: 700;
  line-height: 1.15;
  animation-name: fadeInDown;
  text-transform: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-text11 {
  width: auto;
  font-size: 45px;
  align-self: center;
  text-align: center;
  padding-top: 50px;
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container13 {
  gap: 5%;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 50px;
  justify-content: center;
}
.home-link10 {
  text-decoration: none;
}
.home-link12 {
  text-decoration: none;
}
.home-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container17 {
  margin-bottom: 0px;
}
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-container19 {
  margin-top: 20px;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 1px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.home-iframe1 {
  width: 383px;
  height: 394px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-container20 {
  margin-top: 20px;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 19px;
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.home-container21 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 12px;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  background-color: var(--dl-color-gray-white);
}
.home-iframe2 {
  width: 232px;
  height: 362px;
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container23 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.home-container24 {
  gap: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 646px;
  align-items: center;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
}
.home-link36 {
  display: contents;
}
.home-image10 {
  object-fit: cover;
  text-decoration: none;
}
.home-link37 {
  display: contents;
}
.home-image11 {
  object-fit: cover;
  text-decoration: none;
}
.home-link38 {
  display: contents;
}
.home-image12 {
  object-fit: cover;
  text-decoration: none;
}
.home-link39 {
  display: contents;
}
.home-image13 {
  object-fit: cover;
  text-decoration: none;
}
.home-image14 {
  object-fit: cover;
}
.home-image15 {
  object-fit: cover;
}
.home-image16 {
  object-fit: cover;
}
.home-link40 {
  display: contents;
}
.home-image17 {
  object-fit: cover;
  text-decoration: none;
}
.home-link41 {
  display: contents;
}
.home-image18 {
  object-fit: cover;
  text-decoration: none;
}
.home-link42 {
  display: contents;
}
.home-image19 {
  object-fit: cover;
  text-decoration: none;
}
.home-image20 {
  object-fit: cover;
}
.home-image21 {
  object-fit: cover;
}
.home-link43 {
  display: contents;
}
.home-image22 {
  object-fit: cover;
  text-decoration: none;
}
.home-link44 {
  display: contents;
}
.home-image23 {
  object-fit: cover;
  text-decoration: none;
}
.home-link45 {
  display: contents;
}
.home-image24 {
  object-fit: cover;
  text-decoration: none;
}
.home-link46 {
  display: contents;
}
.home-image25 {
  object-fit: cover;
  text-decoration: none;
}
.home-link47 {
  display: contents;
}
.home-image26 {
  object-fit: cover;
  text-decoration: none;
}
.home-link48 {
  display: contents;
}
.home-image27 {
  width: 300px;
  object-fit: cover;
  padding-top: 30px;
  text-decoration: none;
}
