body, html {
  height: 100%;
  background-color: #00c0bd;
  padding: 0px;
  margin: 0px;
}

.parallax {

  min-height: 500px; 

  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  font-family: 'Alata', sans-serif;
  height: 1000px;
  background-color: #00c0bd;
  font-size: 36px;
  padding: 20px;
}
    
.URL {
    
    text-decoration: none;
    color:blue;
}

.URL:hover { 
    
    text-decoration: underline; 
    color:purple;
}

@media (prefers-color-scheme: light) {
    .parallax {
        background-image: url("あいにゃく-Ainyaku.svg");
    }
}

@media (prefers-color-scheme: dark) {
    .parallax {
        background-image: url("あいにゃく-Ainyaku-dark.svg");
    }
}
